<div *ngIf="!selectedInvoice">
	<div>
		<label>Search: </label>
		<input type="text" name="search" #searchTerm />
		<input type="submit" value="Search" (click)="performSearch(searchTerm.value)"/>
		<input type="submit" value="New" (click)="createIvoice()"/>
		<a routerLink="/home"><input type="submit" value="Home"></a>
	</div>
	<p></p>
	<table class="table">
		<tr>
		    <th>Invoice Number</th>
		    <th>Date</th>
		    <th>Due Date</th>
		    <th>Amount</th>
		    <th></th>
		</tr>
		<tr *ngFor="let inv of invoices; let i = index">
		    <td>{{inv.invoice_number}}</td>
		    <td>{{inv.date}}</td>
		    <td>{{inv.due_date}}</td>
		    <td>{{inv.amount}}</td>
		    <td><button (click)="onSelect(inv)">Edit</button></td>
		</tr>
	</table>
</div>

<div *ngIf="selectedInvoice">
	<label for="invoice_number">Invoice Number: </label>
	<input type="text" name="invoice_number" [(ngModel)]="selectedInvoice.invoice_number"/><br>
	<label for="date">Date: </label>
	<input type="date" name="date" [(ngModel)]="selectedInvoice.date"/><br>
	<label for="due_date">Due Date: </label>
	<input type="date" name="due_date" [(ngModel)]="selectedInvoice.due_date"/><br>
	<label for="amount">Amount: </label>
	<input type="text" name="amount" [(ngModel)]="selectedInvoice.amount"/><br>
	<input type="submit" value="Save" (click)="save()"/>
	<button (click)="cancel()">Cancel</button>
</div>