﻿<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>Select your customer</p>
    <div>
        <ul>
            <li *ngFor="let customer of customers"><a [routerLink]="['/invoices', customer.id]">{{customer.company_name}}</a></li>
        </ul>
    </div>
    <!-- <p><a [routerLink]="['/invoices', customer.id]">Customer 1</a></p> -->
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>